


html, body 
{
    border: 0px; 
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family:'Lucida Console', monospace;
    font-size: 80%;
    white-space: nowrap;
}
canvas
{
    display: block;
    left: 0;
    top: 0;
}